<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="keywords"  content="sport, sportiva, adidas, nike, echipamente sportive, incaltaminte, suplimente alimentare, sale ">
    <meta name="description" content="Echipament sportiv. Suplimente alimentare, imbracaminte si incaltaminte sport.">
   <%- include ("../fragmente/head.ejs") %>

</head>

<body>
  <%- include ("../fragmente/header.ejs") %>
    <main>
        <div class="galerie_animata" id="galanim" style="--nrImg: <% locals.nrImagini %>">

            <% var cnt=0; %>
                <% for (let imag of locals.imgInv) { %>
                    <% cnt++; %>
                        <% if(cnt> locals.nrImagini) { break; }%>
<!--Aici se extrage numele fișierului din calea către imagine. Variabila nume_imag primește valoarea ultimului 
element din array-ul rezultat în urma divizării căii de fișier utilizând caracterul de escape "\", care separă directoarele într-o cale.-->

                            <% var nume_imag=imag.fisier.split('\\'); %>
                                <% nume_imag=nume_imag[nume_imag.length - 1]; %>
                                    <figure>
<!--Aici se afișează fiecare imagine într-un element figure care conține și un element figcaption. 
În interiorul elementului picture, sunt definite două surse (source) cu atributul srcset pentru a oferi imagini de dimensiuni 
diferite în funcție de latimea ecranului (media). Imaginea finală este specificată cu elementul img care conține atributul src 
și atributul alt, unde alt va fi numele imaginii sau valoarea din imag.alt în cazul în care există.
 Textul din imag.attribution sau imag.descriere este afișat în interiorul elementului figcaption. -->                                        
                                        <picture>
                                            <source srcset="<%- imag.fisier_mic %>" media="(max-width:700px)" />
                                            <source srcset="<%- imag.fisier_mediu %>"
                                                media="(max-width:1400px)" />
                                            <img src="<%- imag.fisier %>" alt=" <%- imag.alt || nume_imag %> ">
                                        </picture>
                                        <figcaption><%- imag.attribution || imag.descriere %></figcaption>
                                    </figure>

                                    <% } %>
        </div>
        <br>
        <div>
            <br>
        </div>
    </main>


</body>

</html>