<!DOCTYPE html>
<html lang="en"></html>
<head>
    <%-include ("../fragmente/head") %>
    <%- include("../fragmente/header") %>
    <script type="text/javascript" src="/resurse/js/inregistrare.js"></script>
    <main>
    <div class="afisaj">
        <h1>Inregistrare utilizator</h1>
        <!--obiectul prin functia rez.render,  verific daca nu am primit raspuns, -->
        <% if(!locals.raspuns) { %>    
            <!-- afiseaza formularul, acest action e proprietate pentru locals , daca nu am primit raspuns afisam formularul
            app.post/inregistrare,-->
			<%-include("../fragmente/formular", {action: "/inregistrare"}) %>
        <% } %>
        
	<% if(locals.raspuns) { %>
	<%- locals.raspuns+"<br/>"%>
	<% } %>
	<% if(locals.err) { %>
	<%- locals.err %>
	<% } %>
    </div>
</main>

<footer>
    <%- include("../fragmente/footer") %>
</footer>

</body>
</html>