<!DOCTYPE html>
<html  lang="ro">
    <head>

        <link rel="stylesheet" href="/resurse/css/useri.css" type="text/css" />

        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
    <div class="afisaj">
        <h2>Useri</h2>

		<table id="useri">
		  <tr>
			<th>id</th><th>Username</th><th>Nume</th><th>Prenume</th><th>Data</th><th>Rol</th><th>Sterge</th>
		  </tr>
  <!--iterez prin vectorul de useri si afisez niste proprietati, care ma intereseaza-->
  <% for (var i = 0; i < useri.length; i++) { 
	if (useri[i].rol == "comun") {
  %>
  <tr>
	<td><%= useri[i].id %></td>
	<td><%= useri[i].username %></td>
	<td><%= useri[i].nume %></td>
	<td><%= useri[i].email %></td>
	<%  
	  d = new Date(useri[i].data_adaugare);
	  sir_data = `${d.getDate()}/${d.getMonth()}/${d.getFullYear()} ${d.getHours()}:${d.getMinutes()}:${d.getSeconds()}`;
	%>
	<td><%= sir_data %></td>
	<td><%= useri[i].rol %></td>
	<td>
	  <form id="sterge-<%= useri[i].id %>" method="post" action="/sterge_utiliz">
		<input type="hidden" name="id_utiliz" value="<%= useri[i].id %>">
		<button type="submit">Sterge</button>
	  </form>
	</td>
  </tr> 
  <% 
	}
  } %>
  </table>
  
		//formular de stergere a unui utilizator
		<p>Sterge utilizator</p> 
		<form id="sterge" method="post" action="/sterge_utiliz">
			<label>
				Id: <input type="text" name="id_utiliz" value="">
			</label>
			
			<input type="submit" value="Submit">
		</form>
	</div>
</main>


    <%- include("../fragmente/footer") %>

</body>
</html>